<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
  .navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>

<body>
<div class="navbar">
  <a href="#home" class="active"><img src="home.png" alt="home" width="80" height="80"></a>
  <a href="explore.html" class="active"><img src="earth.png" alt="home" width="73" height="73"></a>
  <a href="#home" class="active"><img src="search.png" alt="home" width="73" height="73"></a>
  <a href="#home" class="active"><img src="list.png" alt="home" width="73" height="73"></a>
  <a href="#home" class="active"><img src="profile.png" alt="home" width="73" height="73"></a>
</div>


</body>
</html>
